[python: cx_tools/**.py]
domain = cx-tools
[python: media_scout/**.py]
domain = media-scout
[python: media_killer/**.py]
domain = media-killer
[python: jpegger/**.py]
domain = jpegger
[python: hosts_keeper/**.py]
domain = hosts-keeper
[python: ffpretty/**.py]
domain = ffpretty
