[python: cx_tools/**.py]
domain = cx-tools
[python: media_scout/**.py]
domain = cx-tools
[python: media_killer/**.py]
domain = cx-tools
[python: jpegger/**.py]
domain = cx-tools
[python: hosts_keeper/**.py]
domain = cx-tools
